#center
  #logo
    %h1 Laura Bearl

  #navigation
    %ul
      %li= link_to "Galleries", galleries_path
      - pages.each do
        %li= link_to page.slug, page
      %li= link_to "News", posts_path
  #painting
    = image_tag "/assets/IMG_6103s.jpg", height: "400"

