// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.images {
  margin-left:10px;
  float:left;
  display:inline;
  position:relative;
  width: 80%;
}

div.image {
  display: inline-block;
  margin: 0px 5px 5px 5px;
  height: 250px;
  padding: 15px;
  background-color: #eeeeee;
  float:left;
}

div.picture {
  margin-top:5px;
  margin-left: auto;
  margin-right: auto;
  width: 200;

  a {
    width: 200;
    margin-left:auto;
    margin-right:auto;
  }
}
