// Place all the styles related to the image controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.image_show {
  float:left;
  margin-left:15px;
}

div.image_data {
  float:left;

  ul {
   list-style-type: none;
 }
} 
